

.client_info__content
{
  grid-area: info;
  display: flex;
  flex-direction: column;
}

.client_info__content_name + *
{
  font-size: 1.5em;
}

.client_info__image
{
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 30px;
}

.client_info__image > img
{
  width: auto;
  height: 100%;
  margin: 0 auto;
}
