<div class="container">
  <div class="row">
  <div class="col-md-6 client_info__content">
    <h1 class="client_info__content_name">
      Индивидуальный предприниматель <br>
      {{client?.name}}
    </h1>
    <div class="client_info__content_phone">{{client?.phone}}</div>
    <a class="client_info__content_website" href="{{client?.website}}">{{client?.website}}</a>
    <a class="client_info__content_email" href="{{client?.email}}">Написать</a>
  </div>
  <div class="col-md-4 client_info__image">
    <img src="{{client?.profile_image}}" class="img-thumbnail" alt="{{client?.name}}">
  </div>
  </div>
</div>
