<app-header></app-header>
<ul class="nav nav-tabs" >
  <li class="active" style="margin: 5px; padding: 10px;" (click)="checkCard(true)">Платежи с карты</li>
  <li  style="margin: 5px; padding: 10px;" (click)="checkCard(false)">Запрошенные платежи</li>
</ul>
<div *ngIf="isCheckedCard">
  <h2>Введи строку для поиска и выбери поле</h2>
    <input type="text" class="form-control" placeholder="Search" (input)="searchValue = $event.target.value" >
  <div class="radio" *ngFor="let item of anyBankValues">
    <label><input type="radio" name="search" value="{{item.value}}" (change)="radioChangeHandlerAnyBank($event)" >{{item.name}}</label>
  </div>
  <h2><label for="sel1">Выберете поле и способ сортировки</label></h2>
  <div class="row">
    <div class="col-sm-4">
      <select class="form-control" id="sel1" [(ngModel)]="selectedItemForSort">
        <option *ngFor="let item of anyBankValues" [value]="item.value">{{item.name}}</option>
      </select>
    </div>
    <div class="col-sm-4">
      <div class="radio" *ngFor="let item of sortingTypes">
        <label><input type="radio" value="{{item.value}}" name="sort" (change)="radioChangeHandlerSortingType($event)">{{item.name}}</label>
      </div>
    </div>
  </div>
  <button class="btn" type="submit" (click)="search(true)">Искать</button>

</div>
<div *ngIf="isCheckedMyBank">
  <h2>Введи строку для поиска и выбери поле</h2>
    <input type="text" class="form-control" placeholder="Search" (input)="searchValue = $event.target.value" >
  <div class="radio" *ngFor="let item of myBankValues">
    <label><input type="radio" name="search" value="{{item.value}}" (change)="radioChangeHandlerMyBank($event)" >{{item.name}}</label>
  </div>
  <h2><label for="sel2">Выберете поле и способ сортировки</label></h2>
  <div class="row">
    <div class="col-sm-4">
      <select class="form-control" id="sel2" [(ngModel)]="selectedItemForSort">
        <option *ngFor="let item of myBankValues" [value]="item.value">{{item.name}}</option>
      </select>
    </div>
    <div class="col-sm-4">
      <div class="radio" *ngFor="let item of sortingTypes">
        <label><input type="radio" value="{{item.value}}" name="sort" (change)="radioChangeHandlerSortingType($event)">{{item.name}}</label>
      </div>
    </div>
  </div>
  <button class="btn" type="submit" (сlick)="search(false)" >Искать</button>
</div>

