
.payment-panel__header
{
  height: 50px;
}

li, button
{
  height: 30px;
  margin: 2px;
  padding: 3px;
}

.payment-panel__pay_header > button
{
  font-size: .8em;
}

.form__card
{
  border-radius: 20px;
  box-shadow: 0 0 20px 3px #d2c7e8;
  padding: 20px;
  width: 350px;
  height: 175px;
  margin: 10px;
}

.form__card > .row
{
  padding: 2px 0;
}

.form__card__image
{
  background-image: url("http://roadnet.ru/images/Visa-MasterCard-Maestro-Mir.png");
  height: 25px;
  width: 140px;
  background-size: cover;
}

